* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Montserrat, verdana, arial, sans-serif;
}

body {
    width: 100%;
}

header,h1 ,header div, ul, ul a, #band, #band div {
    display: flex;
}

header {
    font-size: 1.2rem;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    color: gray;
}

h1 {
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

header div{
    align-items: flex-end;
    margin: 1rem;
}

ul {
    list-style-type: none;
    align-items: flex-end;
}

ul a {
    text-decoration-line: none;
    text-align: center;
    height: 5rem;
    align-items: center;
    justify-content: center;
    width: 8vw;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #f8f9fa;
    color: gray;
}

ul li:nth-child(1) a{
    border-bottom-color: #e09700;
    color: #e09700;
    font-weight: bold;
}

ul li:nth-child(2) a {
    border-bottom-color: #07819c;
}

ul li:nth-child(3) a {
    border-bottom-color: #d54398;
}

ul li:nth-child(4) a {
    border-bottom-color: #4ea392;
}

ul li:nth-child(5) a {
    border-bottom-color: #a2c31b;
}

#glass, #logoUser {
    width: 2rem;
    height: 2rem;
}

nav > a {
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem;
    text-decoration-line: none;
}

/* home */
#band {
    background-image: url("/img/ados-saut.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 40vh;
    padding: 5vh 0;
    justify-content: space-evenly;
}

#band div {
    border-radius: 50%;
    border: white 2px solid;
    width: 22vh;
    height: 22vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
}

#band div:nth-child(1) {
    background-color: #07819c;
    align-self: flex-end;
}

#band div:nth-child(2) {
    background-color: #d54398;
}

#band div:nth-child(3) {
    background-color: #4ea392;
    align-self: flex-end;
}

#band div:nth-child(4) {
    background-color: #a2c31b;
}

.grow {
    animation-name: bursts;
    animation-duration: 2s;
}

@keyframes bursts {
    to {
        width: 100vh;
        height: 100vh;
    }
}

